In [174]:
import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns

In [175]:
%matplotlib inline

In [176]:
dataset_1 = pd.read_csv('c:/users/erinm/Documents/healthcare-bluebook-green-team/data/Medicare_Provider_Utilization_and_Payment_Data__Physician_and_Other_Supplier_PUF_CY2017.tsv', sep='\t')
dataset_1.head()

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,HCPCS Code,HCPCS Description,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99217,Hospital observation care discharge,N,100.0,96,100,73.398800,325.780000,56.827200,57.492400
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99218,Hospital observation care typically 30 minutes,N,26.0,25,26,100.080000,449.000000,78.460000,79.306154
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99219,Hospital observation care typically 50 minutes,N,52.0,51,52,136.380000,614.000000,102.807692,103.895385
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99220,Hospital observation care typically 70 minutes...,N,59.0,59,59,190.363729,755.932203,141.293559,142.865763
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99221,"Initial hospital inpatient care, typically 30 ...",N,16.0,16,16,101.680000,462.812500,79.710000,80.750000

In [4]:
dataset_1.shape

(9847443, 26)

In [5]:
#agg_table=pd.read_csv('c:/users/erinm/Documents/healthcare-bluebook-green-team/data/Medicare_Physician_and_Other_Supplier_National_Provider_Identifier__NPI__Aggregate_Report__Calendar_Year_2017.tsv', sep='\t')
#agg_table.head()

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,Percent (%) of Beneficiaries Identified With Depression,Percent (%) of Beneficiaries Identified With Diabetes,Percent (%) of Beneficiaries Identified With Hyperlipidemia,Percent (%) of Beneficiaries Identified With Hypertension,Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,Percent (%) of Beneficiaries Identified With Osteoporosis,Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,Percent (%) of Beneficiaries Identified With Stroke,Average HCC Risk Score of Beneficiaries
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,46.0,51.0,67.0,75.0,56.0,9.0,49.0,8.0,13.0,2.1178
1,1003000134,CIBULL,THOMAS,L,M.D.,M,I,2650 RIDGE AVE,EVANSTON HOSPITAL,EVANSTON,...,12.0,20.0,34.0,55.0,27.0,9.0,36.0,1.0,3.0,1.1024
2,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,45.0,41.0,50.0,74.0,39.0,10.0,75.0,4.0,5.0,1.6807
3,1003000407,GIRARDI,DAVID,J,D.O.,M,I,100 HOSPITAL RD,NaN,BROOKVILLE,...,50.0,44.0,66.0,75.0,64.0,20.0,48.0,13.0,11.0,2.1173
4,1003000423,VELOTTA,JENNIFER,A,M.D.,F,I,11100 EUCLID AVE,NaN,CLEVELAND,...,21.0,20.0,35.0,48.0,23.0,15.0,42.0,0.0,NaN,1.0032

In [6]:
drpay_agg_combo=pd.merge(dr_payments_df, agg_table, on=('National Provider Identifier'), how='inner')
drpay_agg_combo.head()

,National Provider Identifier,Last Name/Organization Name of the Provider_x,First Name of the Provider_x,Middle Initial of the Provider_x,Credentials of the Provider_x,Gender of the Provider_x,Entity Type of the Provider_x,Street Address 1 of the Provider_x,Street Address 2 of the Provider_x,City of the Provider_x,...,Percent (%) of Beneficiaries Identified With Depression,Percent (%) of Beneficiaries Identified With Diabetes,Percent (%) of Beneficiaries Identified With Hyperlipidemia,Percent (%) of Beneficiaries Identified With Hypertension,Percent (%) of Beneficiaries Identified With Ischemic Heart Disease,Percent (%) of Beneficiaries Identified With Osteoporosis,Percent (%) of Beneficiaries Identified With Rheumatoid Arthritis / Osteoarthritis,Percent (%) of Beneficiaries Identified With Schizophrenia / Other Psychotic Disorders,Percent (%) of Beneficiaries Identified With Stroke,Average HCC Risk Score of Beneficiaries
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,46.0,51.0,67.0,75.0,56.0,9.0,49.0,8.0,13.0,2.1178
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,46.0,51.0,67.0,75.0,56.0,9.0,49.0,8.0,13.0,2.1178
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,46.0,51.0,67.0,75.0,56.0,9.0,49.0,8.0,13.0,2.1178
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,46.0,51.0,67.0,75.0,56.0,9.0,49.0,8.0,13.0,2.1178
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,46.0,51.0,67.0,75.0,56.0,9.0,49.0,8.0,13.0,2.1178

In [7]:
drpay_agg_combo.shape

(9847443, 96)

In [8]:
outpatient_charges_df = pd.read_csv('c:/users/erinm/Documents/healthcare-bluebook-green-team/data/Provider_Outpatient_Hospital_Charge_Data_by_APC__CY2017.csv')
outpatient_charges_df.head()
outpatient_charges_df.shape

FileNotFoundError: [Errno 2] File b'c:/users/erinm/Documents/healthcare-bluebook-green-team/data/Provider_Outpatient_Hospital_Charge_Data_by_APC__CY2017.csv' does not exist: b'c:/users/erinm/Documents/healthcare-bluebook-green-team/data/Provider_Outpatient_Hospital_Charge_Data_by_APC__CY2017.csv'

In [10]:
outpatient_charges_df = pd.read_csv('c:/users/erinm/Documents/healthcare-bluebook-green-team/data/Provider_Outpatient_Hospital_Charge_Data_by_APC__CY2017.tsv', sep='\t')
outpatient_charges_df.shape

(61779, 16)

In [11]:
outpatient_charges_df.head()

,Provider_ID,Provider_Name,Provider_Street_Address,Provider_City,Provider_State,Provider_Zip_Code,Provider_HRR,APC,APC_Desc,Beneficiaries,CAPC_Services,Average_Total_Submitted_Charges,Average_Medicare_Allowed_Amount,Average_Medicare_Payment_Amount,Outlier_Services,Average_Medicare_Outlier_Amount
0,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5072,Level 2 Excision/ Biopsy/ Incision and Drainage,249.0,259,9575.01,1038.45,826.28,NaN,NaN
1,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5073,Level 3 Excision/ Biopsy/ Incision and Drainage,52.0,53,12578.28,1792.60,1423.25,NaN,NaN
2,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5091,Level 1 Breast/Lymphatic Surgery and Related P...,26.0,27,11337.61,2113.58,1683.99,0.0,0.0
3,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5092,Level 2 Breast/Lymphatic Surgery and Related P...,23.0,23,17116.16,3737.14,2977.55,0.0,0.0
4,10001,Southeast Alabama Medical Center,1108 Ross Clark Circle,Dothan,AL,36301,AL - Dothan,5112,Level 2 Musculoskeletal Procedures,17.0,17,7382.73,1029.46,820.21,0.0,0.0

In [55]:
outpatient_charges_df.tail()

,Provider_ID,Provider_Name,Provider_Street_Address,Provider_City,Provider_State,Provider_Zip_Code,Provider_HRR,APC,APC_Desc,Beneficiaries,CAPC_Services,Average_Total_Submitted_Charges,Average_Medicare_Allowed_Amount,Average_Medicare_Payment_Amount,Outlier_Services,Average_Medicare_Outlier_Amount
61774,670122,Houston Methodist The Woodlands Hospital,17201 Interstate 45 South,The Woodlands,TX,77385,TX - Houston,5361,Level 1 Laparoscopy and Related Services,18.0,18,54778.81,3866.82,3044.48,13.0,1623.73
61775,670122,Houston Methodist The Woodlands Hospital,17201 Interstate 45 South,The Woodlands,TX,77385,TX - Houston,5373,Level 3 Urology and Related Services,11.0,11,28237.56,1469.87,1147.78,NaN,NaN
61776,670122,Houston Methodist The Woodlands Hospital,17201 Interstate 45 South,The Woodlands,TX,77385,TX - Houston,5375,Level 5 Urology and Related Services,20.0,21,35109.68,3356.89,2674.59,NaN,NaN
61777,670122,Houston Methodist The Woodlands Hospital,17201 Interstate 45 South,The Woodlands,TX,77385,TX - Houston,5431,Level 1 Nerve Procedures,NaN,12,25194.96,1506.38,1200.20,NaN,NaN
61778,670122,Houston Methodist The Woodlands Hospital,17201 Interstate 45 South,The Woodlands,TX,77385,TX - Houston,8011,Comprehensive Observation Services,156.0,165,26580.47,2141.54,1706.27,40.0,1705.11

In [57]:
add_b_init = pd.read_excel('c:/users/erinm/Documents/healthcare-bluebook-green-team/data/2020_january_web_addendum_b.12312019.xlsx')
add_b_init.head()

,Unnamed: 0,Addendum B.-Final OPPS Payment by HCPCS Code for CY 2020,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,CPT codes and descriptions only are copyright ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HCPCS Code,Short Descriptor,SI,APC,Relative Weight,Payment Rate,National Unadjusted Copayment,Minimum Unadjusted Copayment,Note: Actual copayments would be lower due to ...,* Indicates a Change
2,00100,Anesth salivary gland,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00102,Anesth repair of cleft lip,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00103,Anesth blepharoplasty,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
add_b = pd.read_excel('c:/users/erinm/Documents/healthcare-bluebook-green-team/data/2020_january_web_addendum_b.12312019.xlsx',usecols=[0,1,3], skiprows=2)
add_b.head()

  HCPCS Code            Short Descriptor  APC
0      00100       Anesth salivary gland   NaN
1      00102  Anesth repair of cleft lip   NaN
2      00103       Anesth blepharoplasty   NaN
3      00104         Anesth electroshock   NaN
4      00120          Anesth ear surgery   NaN

In [58]:
#add_b = pd.read_excel('c:/users/erinm/Documents/healthcare-bluebook-green-team/data/2020_january_web_addendum_b.12312019.xlsx', header=0,  skiprows=2, nrows= 20, use_cols = "A:D")
#add_b

In [59]:
zip_cbsa = pd.read_excel('c:/users/erinm/documents/healthcare-bluebook-green-team/data/ZIP_CBSA_032020.xlsx')
zip_cbsa.shape

(47415, 6)

In [60]:
zip_cbsa.head()

   ZIP   CBSA  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
0  501  35620        0.0        1.0        0.0        1.0
1  601  38660        1.0        1.0        1.0        1.0
2  602  10380        1.0        1.0        1.0        1.0
3  603  10380        1.0        1.0        1.0        1.0
4  604  10380        1.0        1.0        1.0        1.0

In [74]:
provider_plus_cptcross = pd.merge(dr_payments_df, add_b, on=('HCPCS Code'), how='inner')
provider_plus_cptcross.head()

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount,Short Descriptor,APC
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,N,100.0,96,100,73.3988,325.780000,56.827200,57.492400,Observation care discharge,NaN
1,1003000407,GIRARDI,DAVID,J,D.O.,M,I,100 HOSPITAL RD,NaN,BROOKVILLE,...,N,15.0,15,15,72.3000,102.333333,54.420000,57.960000,Observation care discharge,NaN
2,1003006586,MAREEDU,JYOTSNA,NaN,M.D.,F,I,18101 PRINCE PHILIP DR,NaN,OLNEY,...,N,53.0,52,53,82.0900,151.000000,63.636604,58.233396,Observation care discharge,NaN
3,1003007824,SOWAH,LEONARD,A,M.D.,M,I,22 S GREENE ST,NaN,BALTIMORE,...,N,12.0,12,12,79.6300,122.000000,55.235833,53.294167,Observation care discharge,NaN
4,1003008590,CHIRUMAMILLA,RADHA,NaN,M.D.,F,I,600 COFFEE RD,NaN,MODESTO,...,N,28.0,27,28,75.7300,203.000000,57.249643,55.940357,Observation care discharge,NaN

In [78]:
provider_plus_cptcross.shape

(9502517, 28)

In [79]:
provider_plus_cptcross.columns

Index(['National Provider Identifier',
       'Last Name/Organization Name of the Provider',
       'First Name of the Provider', 'Middle Initial of the Provider',
       'Credentials of the Provider', 'Gender of the Provider',
       'Entity Type of the Provider', 'Street Address 1 of the Provider',
       'Street Address 2 of the Provider', 'City of the Provider',
       'Zip Code of the Provider', 'State Code of the Provider',
       'Country Code of the Provider', 'Provider Type',
       'Medicare Participation Indicator', 'Place of Service', 'HCPCS Code',
       'HCPCS Description', 'HCPCS Drug Indicator', 'Number of Services',
       'Number of Medicare Beneficiaries',
       'Number of Distinct Medicare Beneficiary/Per Day Services',
       'Average Medicare Allowed Amount', 'Average Submitted Charge Amount',
       'Average Medicare Payment Amount',
       'Average Medicare Standardized Amount', 'Short Descriptor', 'APC '],
      dtype='object')

In [81]:
no_null=provider_plus_cptcross[provider_plus_cptcross['APC '].notnull()]
no_null.head()

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount,Short Descriptor,APC
720335,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,N,36.0,23,36,224.170000,1400.000000,175.750000,177.656667,Critical care first hour,5041.0
720336,1003002841,CHOUDHARY,SAHER,K,M.D.,F,I,200 PATEWOOD DR STE B350,NaN,GREENVILLE,...,N,23.0,19,23,217.731304,569.434783,163.663043,170.781739,Critical care first hour,5041.0
720337,1003003609,PAKKIVENKATA,UMA,B,M.D.,M,I,9900 N CENTRAL EXPY STE 215,NaN,DALLAS,...,N,46.0,27,46,225.305217,556.919565,176.634348,177.822174,Critical care first hour,5041.0
720338,1003004771,RIGGLE,ERIN,E,M.D.,F,I,15 W DRY CREEK CIR,NaN,LITTLETON,...,N,322.0,191,322,228.510000,559.740000,170.412702,176.187050,Critical care first hour,5041.0
720339,1003005729,WALNOHA,WADE,NaN,P.A.-C.,M,I,500 S CLEVELAND AVE,NaN,WESTERVILLE,...,N,32.0,32,32,186.590000,886.000000,139.702812,144.572812,Critical care first hour,5041.0

In [157]:
musculoskeletal_only =no_null[no_null['APC '].isin([5112, 5113, 5114, 5115, 5116])]
#musculoskeletal_only =no_null[no_null['APC '].isin([5302])]

musculoskeletal_only.shape

(60478, 28)

In [158]:
musculoskeletal_only.head()

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount,Short Descriptor,APC
3795609,1003000738,ZUMWALT,JULIETTE,A,P.A.,F,I,7401 S. MAIN,NaN,HOUSTON,...,N,14.0,14,14,39.125714,717.000000,26.473571,13.519286,Shoulder arthroscopy/surgery,5113.0
3795610,1003015843,"NORTHBAY PHYSICIAN'S SURGERY CENTER, L.L.C.",NaN,NaN,NaN,NaN,O,1006 NUT TREE ROAD,NaN,VACAVILLE,...,N,15.0,15,15,837.130000,5550.805333,656.310000,489.934000,Shoulder arthroscopy/surgery,5113.0
3795611,1003084849,ZANAROS,GEORGE,S,M.D.,M,I,1367 WASHINGTON AVE,SUITE 200,ALBANY,...,N,18.0,18,18,222.726667,2642.888889,228.656667,139.270000,Shoulder arthroscopy/surgery,5113.0
3795612,1003103474,"NEW ALBANY SURGERY CENTER, LLC",NaN,NaN,NaN,NaN,O,5040 FOREST DR,NaN,NEW ALBANY,...,N,12.0,12,12,634.833333,10907.000000,459.420833,527.857500,Shoulder arthroscopy/surgery,5113.0
3795613,1003110792,"CREVE COEUR SURGERY CENTER, LLC",NaN,NaN,NaN,NaN,O,845 N NEW BALLAS CT,SUITE 100,CREVE COEUR,...,N,30.0,29,30,742.023333,6613.008000,563.058667,586.852667,Shoulder arthroscopy/surgery,5113.0

In [159]:
musculoskeletal_ento =musculoskeletal_only[musculoskeletal_only['Entity Type of the Provider'].isin(['O'])]
musculoskeletal_ento.shape

(7348, 28)

In [167]:
musculoskeletal_ento.head()

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount,Short Descriptor,APC
3795610,1003015843,"NORTHBAY PHYSICIAN'S SURGERY CENTER, L.L.C.",NaN,NaN,NaN,NaN,O,1006 NUT TREE ROAD,NaN,VACAVILLE,...,N,15.0,15,15,837.130000,5550.805333,656.310000,489.934000,Shoulder arthroscopy/surgery,5113.0
3795612,1003103474,"NEW ALBANY SURGERY CENTER, LLC",NaN,NaN,NaN,NaN,O,5040 FOREST DR,NaN,NEW ALBANY,...,N,12.0,12,12,634.833333,10907.000000,459.420833,527.857500,Shoulder arthroscopy/surgery,5113.0
3795613,1003110792,"CREVE COEUR SURGERY CENTER, LLC",NaN,NaN,NaN,NaN,O,845 N NEW BALLAS CT,SUITE 100,CREVE COEUR,...,N,30.0,29,30,742.023333,6613.008000,563.058667,586.852667,Shoulder arthroscopy/surgery,5113.0
3795618,1003860917,"SURGERY CENTER OF PINEHURST, LLC",NaN,NaN,NaN,NaN,O,10 FIRST VILLAGE DRIVE,NaN,PINEHURST,...,N,11.0,11,11,746.604545,8283.000000,579.503636,646.066364,Shoulder arthroscopy/surgery,5113.0
3795619,1003870825,"PINELLAS SURGERY CENTER, LTD",NaN,NaN,NaN,NaN,O,4650 4TH ST N,NaN,ST PETERSBURG,...,N,13.0,12,13,803.945385,13240.000000,605.270769,667.601538,Shoulder arthroscopy/surgery,5113.0

In [168]:
#musculoskeletal_ento_asc =musculoskeletal_ento[musculoskeletal_ento['Provider Type'].isin(['Ambulatory Surgical Center'])]
#musculoskeletal_ento_asc.head()

In [169]:
#musculoskeletal_ento_asc.shape

In [172]:
musculoskeletal_ento_asc_poso =musculoskeletal_ento[musculoskeletal_ento['Place of Service'].isin(['F'])]
musculoskeletal_ento_asc_poso.shape

(7348, 28)

In [173]:
musculoskeletal_ento_asc_poso.head()

,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,City of the Provider,...,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount,Short Descriptor,APC
3795610,1003015843,"NORTHBAY PHYSICIAN'S SURGERY CENTER, L.L.C.",NaN,NaN,NaN,NaN,O,1006 NUT TREE ROAD,NaN,VACAVILLE,...,N,15.0,15,15,837.130000,5550.805333,656.310000,489.934000,Shoulder arthroscopy/surgery,5113.0
3795612,1003103474,"NEW ALBANY SURGERY CENTER, LLC",NaN,NaN,NaN,NaN,O,5040 FOREST DR,NaN,NEW ALBANY,...,N,12.0,12,12,634.833333,10907.000000,459.420833,527.857500,Shoulder arthroscopy/surgery,5113.0
3795613,1003110792,"CREVE COEUR SURGERY CENTER, LLC",NaN,NaN,NaN,NaN,O,845 N NEW BALLAS CT,SUITE 100,CREVE COEUR,...,N,30.0,29,30,742.023333,6613.008000,563.058667,586.852667,Shoulder arthroscopy/surgery,5113.0
3795618,1003860917,"SURGERY CENTER OF PINEHURST, LLC",NaN,NaN,NaN,NaN,O,10 FIRST VILLAGE DRIVE,NaN,PINEHURST,...,N,11.0,11,11,746.604545,8283.000000,579.503636,646.066364,Shoulder arthroscopy/surgery,5113.0
3795619,1003870825,"PINELLAS SURGERY CENTER, LTD",NaN,NaN,NaN,NaN,O,4650 4TH ST N,NaN,ST PETERSBURG,...,N,13.0,12,13,803.945385,13240.000000,605.270769,667.601538,Shoulder arthroscopy/surgery,5113.0

In [166]:
musculoskeletal_ento_asc_poso['HCPCS Description'].value_counts()

Incision of tendon covering                                           791
Removal of one knee cartilage using an endoscope                      762
Removal of both knee cartilages using an endoscope                    646
Repair of shoulder rotator cuff using an endoscope                    626
Correction of toe joint deformity                                     561
                                                                     ...
Repair of disrupted collateral ligament of ankle                        1
Removal of growth of tendon covering or joint capsule of toes           1
Repair of ruptured Achilles tendon, open or through skin procedure      1
Repair of finger tendon                                                 1
Incision and exploration of wrist joint                                 1
Name: HCPCS Description, Length: 174, dtype: int64